<!-- <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top mx-3">
    <div class="col mb-3">
      <p class="text-body-secondary">© 2024 Company, Inc</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>
</footer> -->


<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
</footer> -->


<section class="bg-dark pt-10 pt-xl-14 pt-4">
    <div class="container">
        <div class="row justify-content-center pb-xl-14  pb-8">
            <div class="col-xl-8 col-12">
                <div class="text-center">
                    <span class="badge border-light border border-opacity-25 p-2 fs-6 px-3 rounded-pill text-secondary">Pay Once and Get Lifetime updated</span>
                    <h2 class="text-white mt-3 fs-1">Get started with Geeks UI Today</h2>
                    <p class="lead mb-4">Start building your LMS and Education website and web product in minutes.</p>
                    <a href="" title="Buy Geeks" class="btn btn-lg rounded-pill d-inline-flex align-items-center" style="background-color: #6610f2; color: white;">
                        <span>Purchase Now</span>
                        <span><i class="bi bi-arrow-right ms-2"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row py-4 justify-content-between align-items-center gy-3" style="color: white;">
            <!-- Desc -->
            <div class="col-lg-5 col-12 text-center text-md-start">
                <p class="mb-0">
                    <span>
                        ©
                        <span id="copyright">
                            <script>
                                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()));
                            </script>2024
                        </span>
                        Geeks. Design and Coded by
                        <a href=""  title="Codescandy">Codescandy</a>
                    </span>
                </p>
            </div>
            <div class="col-lg-2 col-12">
                <div class="text-lg-center" >
                    <a href="" class="text-inherit me-3" style="color: #cedff0;"  title=" Twitter"><i class="bi bi-twitter"></i></a>
                    <a href="" class="text-inherit me-3" style="color: #cedff0;" title=" Github"><i class="bi bi-github"></i></a>
                    <a href="" class="text-inherit me-3" style="color: #cedff0;" title=" Discord"><i class="bi bi-discord"></i></a>
                    <a href="" class="text-inherit me-3" style="color: #cedff0;" title=" YouTube"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
            <!-- Links -->
            <div class="col-12 col-lg-5">
                <nav class="nav nav-footer justify-content-lg-center justify-content-lg-end" >
                    <a class="nav-link active ps-0" href="" style="color: #ded8d8;">Documentation</a>
                    <a class="nav-link" href="" style="color: #ded8d8;">Support</a>
                    <a class="nav-link" href="" style="color: #ded8d8;">Changelog</a>
                </nav>
            </div>
        </div>
    </div>
</section>
