/* .custom-input-focus .form-control:focus {
    border-color: #6610f2 !important;
    box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25) !important;
}

.custom-checkbox .form-check-input:checked {
    background-color: #6610f2 !important;
    border-color: #6610f2 !important;
}

.custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25) !important;
}

   */


.custom-form-container {
    background-color: #f8f9fa; /* Light background color */
    border-radius: 8px;        /* Rounded corners */
    padding: 30px;             /* Padding around the form */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Input Field Focus Effect */
.custom-input-focus .form-control:focus {
    border-color: #6610f2 !important;
    box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25) !important;
}

/* Checkbox Customization */
.custom-checkbox .form-check-input:checked {
    background-color: #6610f2 !important;
    border-color: #6610f2 !important;
}



/*----------------------------------------------------------------------------------------*/

.icon {
  max-width: 60px;
  max-height: 60px;
}

div {
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 100%;
  max-width: 310px;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover>.img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 10px;
}

.detail {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
}
