<div class="container-fluid">

    
    <div class="row" style="padding-top: 7%;">

        <h1 class="mb-3 banner-topic">Book Your Tickets, Skip the Lines!</h1>
        <p class="banner-description">
            Get your tickets in seconds and enjoy a hassle-free experience! No more waiting 
            in lines—book online, secure your spot, and dive right in!
        </p>
        <div class="mt-3 mt-lg-0 mx-1 ">
            <a href="" class="btn buy-now-btn px-4 py-2"  title="Buy Geeks">
                Buy Now
            </a>
        </div>

    </div>


    
</div>

