<section class="py-5">
  <div class="container">
    <div class="row gx-5">
      <aside class="col-lg-6">
        <div class="border rounded-4 mb-3 d-flex justify-content-center">
          <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" [src]="getImageSource()">
        </div>

      </aside>

      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{data().eventName}}
          </h4>
          <div class="d-flex flex-row my-3">
            <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div>
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{totalTickets()}} tickets</span>
            <span class="text-success ms-2">In stock</span>
          </div>

          <div class="mb-3">
            <span class="h5" style="color: #6610f2; font-size: 30px;">LKR {{data().ticketPrice}}</span>

          </div>

          <p>
            {{data().eventDescription}}
          </p>

          <div class="row my-3">
            <dt class="col-2 fs-5">QTY :  </dt>
            <dd class="col-2">
              <input id="ticketQty" name="ticket-qty" type="number" class="form-control" min="1" oninput="validity.valid||(value='');">
            </dd>

          </div>

          <div class="row">
            <dt class="col-3">Category </dt>
            <dd class="col-9">:   {{data().category}}</dd>

            <dt class="col-3">Ticket-Type </dt>
            <dd class="col-9">:   {{data().ticketType}}</dd>

            <dt class="col-3">Discount </dt>
            <dd class="col-9">:   {{data().vipDiscount}}%</dd>

            <dt class="col-3">Date </dt>
            <dd class="col-9">:   {{data().eventDate}}</dd>

          </div>

          <hr>

          <button (click)="buyNowBtn()" class="btn shadow-0" style="background-color: #6610f2; color: white"> Buy now </button>

          </div>
      </main>
    </div>
  </div>
</section>
