<nav class="navbar navbar-expand-lg navbar-dark is-navbar-dark w-100 shadow-sm px-4">
	<div class="container px-0">


        <div class="fs-3">
            <a routerLink="/home" class=" topic">
                Event<span style="color: #6610f2; font-weight: 700;">Keeper</span>
            </a>
        </div>


        <button class="navbar-toggler text-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon pt-2 pb-2"><i class="bi bi-menu-down "></i></span>
        </button>

		<div class="navbar-collapse collapse" id="navbar-default" style="">

			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link text-black" routerLink="/customer/home"><i class="bi bi-house"></i> Home</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-black" routerLink="/customer/buy-now"><i class="bi bi-bag"></i> Buy Tickets</a>
				</li>

        <li class="nav-item">
          <a class="nav-link text-black" routerLink="/customer/ticket-history"><i class="bi bi-ticket"></i> History</a>
        </li>

        <li class="nav-item">
					<a class="nav-link text-black" routerLink="/customer/about-us"><i class="bi bi-person"></i> About Us</a>
        </li>
			</ul>

			<div class="mx-3" style="">
				<div style="font-weight: 500;">{{firstName() ? firstName() : 'User'}}</div>
				<div style="font-size: 12px; color: #6610f2; font-weight: 500;">VIP customer</div>
			</div>
            <div class="mt-3 mt-lg-0 mx-1">
				<a (click)="logOutBtn()"  class="btn logout-btn"  title="Buy Geeks">
					Log out
				</a>
			</div>

		</div>
	</div>
</nav>

